*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;
    overflow-y: hidden;

    position: fixed;
    user-select: none;
    animation: fade 1s ease-in;

    width: 100%;
    height: 100%;
}

.bg_video {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain;

    margin-top: 1.2%;
    margin-left: 22.5%;
    margin-right: 20%; 

    position: absolute;
    animation: up 5s ease-out;
    opacity: 70%;
    mix-blend-mode: luminosity;

    width: 55%;
    height: 100%;
}

.btn_play {
    background-image: url(play.png);
    background-repeat: no-repeat;
    background-size: contain;

    bottom: 7%;
    left: 38%;
    right: 50%;

    position: fixed;
    opacity: 70%;
    mix-blend-mode: luminosity;

    width: 20em;
    height: 6em;
}

.btn_play:hover {
    animation: hover 0.050s linear;
    transform: scale(1.1);
    cursor: pointer;
}

.btn_play:active {
    animation: active 0.050s linear;
    transform: scale(0.9);
    cursor: pointer;
}

.bg_form {
    width: 100%;
    height: 100%;

    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.55);
    animation: fade 1s ease-in forwards;
}

.pg_1, .pg_2, .pg_3, .pg_4, .pg_5 {
    width: 90%;
    height: 90%;

    display: block;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    mix-blend-mode: luminosity;
    border: 3px rgb(255, 255, 255) solid ;
    background-color: rgba(255, 255, 255, 0.50);
}

.pg_2, .pg_3, .pg_4, .pg_5 {
    display: none;
}

.btn_forward1, .btn_forward2, .btn_forward3, .btn_forward4, .btn_forward5 {
    width: 100px;
    height: 100px;

    display: block;
    position: absolute;

    right: 0;
    bottom: 0;

    background-image: url("stDir.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn_backward1, .btn_backward2, .btn_backward3, .btn_backward4, .btn_backward5 {
    width: 100px;
    height: 100px;

    display: block;
    position: absolute;

    left: 0;
    bottom: 0;

    background-image: url("stEsq.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img_1, .img_2, .img_3, .img_4 {
    width: 35vw;
    height: 70%;

    margin-top: 2%;
    margin-left: 2%;

    position: absolute;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg_1a, .pg_2a, .pg_3a {
    width: 100px;
    height: 100px;

    position: absolute;
    display: block;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.pg_1a {
    right: 5%;
    top: 10%;

    background-image: url("btn_1.png");
}

.pg_2a {
    right: 5%;
    top: 30%;

    background-image: url("btn_2.png");
}

.pg_3a {
    right: 5%;
    top: 50%;

    background-image: url("btn_3.png");
}

.img_1 {
    background-image: url(sc_1.jpg);
}

.img_2 {
    background-image: url(sc_2.jpg);
}

.img_3 {
    background-image: url(sc_3.jpg);
}

.img_4 {
    background-image: url(sc_4.jpg);
}

.pg_1b, .pg_2b, .pg_3b, .pg_4b {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pg_2b, .pg_3b, .pg_4b {
    display: none;
}