*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: linear-gradient(rgb(0, 200, 255), rgb(0, 0, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;
    overflow-y: hidden;

    position: fixed;

    width: 100%;
    height: 100%;
}

/* bolhas */

.squares li, mli, sn, sd, se, sc, sen {
    border-radius: 100%;
    display: block;
    position: absolute;
    animation: up ease-in-out infinite;
}

.squares li, mli {
    background-image: radial-gradient(transparent, rgba(150, 255, 255, 0.50));
}

.squares sn {
    background-image: radial-gradient(rgba(100, 255, 100, 0.75), rgba(0, 255, 0, 0.75));
}

.squares sd {
    background-image: radial-gradient(rgba(255, 180, 255, 0.75), rgba(250, 80, 250, 0.75));
}

.squares se {
    background-image: radial-gradient(rgba(255, 100, 100, 0.75), rgba(255, 0, 0, 0.75));
}

.squares sc {
    background-image: radial-gradient(rgba(255, 255, 100, 0.75), rgba(255, 255, 0, 0.75));
}

.squares sen {
    background-image: radial-gradient(rgba(255, 200, 0, 0.75), rgba(255, 100, 0, 0.75));
}

sn:hover, sd:hover, se:hover, sc:hover, sen:hover, ext:hover, btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

sn:active, sd:active, se:active, sc:active, sen:active, ext:active, btn:active {
    transform: scale(1);
    cursor: pointer;
}

/* textos */

.txt1, .txt2, .txt3, .txt4, .txt5 {
    font-size: 15px;
    font-style: oblique;
    word-break: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.txt1 {
    margin-top: 30%;
}

.txt2 {
    margin-top: 33%;
}

.txt3 {
    margin-top: 30%;
}

.txt4 {
    margin-top: 35%;
}

.txt5 {
    margin-top: 33%;
}

/* dados */

dados {
    width: 100%;
    height: 100%;

    align-items: center;
    position: absolute;
    opacity: 100%;
    display: none;

    background-color: transparent;
}

dados form {
    width: 80%;
    height: 80%;

    border: 3px solid rgb(25, 30, 150);
    margin-left: 9.7%;
    border-radius: 40px;
    box-shadow: 0 0 80px black;

    background-color: rgb(25, 50, 150);
}

btn {
    width: 17%;
    height: 7%;

    position: absolute;
    border-radius: 10px;
    border: 3px solid rgb(0, 150, 255);

    background-color: rgb(0, 200, 255);
}

btn h2 {
    margin-left: 15%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn_1 {
    margin-left: 1%;
    margin-top: 9%
}

.btn_2 {
    margin-left: 1%;
    margin-top: 15%
}

.btn_3 {
    margin-left: 1%;
    margin-top: 21%
}

.btn_4 {
    margin-left: 1%;
    margin-top: 27%
}

.btn_5 {
    margin-left: 1%;
    margin-top: 33%
}

.btn_6 {
    margin-left: 24%;
    margin-top: 9%
}

.btn_7 {
    margin-left: 24%;
    margin-top: 15%
}

.btn_8 {
    margin-left: 24%;
    margin-top: 21%
}

.btn_9 {
    margin-left: 24%;
    margin-top: 27%
}

.btn_10 {
    margin-left: 24%;
    margin-top: 33%
}

system {
    position: absolute;
    color: rgb(0, 0, 0);

    margin-top: 2%;
    margin-left: 48%;

    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

ext {
    width: 40px;
    height: 40px;

    border: 4px solid rgb(170, 0, 0);
    border-radius: 100%;
    position: absolute;

    margin-top: 1%;
    margin-left: 1%;

    background-color: red;
}

ext h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-left: 23%;
}

.local {
    width: 40%;
    height: 99%;

    margin-left: 55%;

    border: 3px solid rgb(250, 200, 0);
    border-radius: 20px;
    box-shadow: 0 0 20px black;

    background-color:yellow;
}

txt h2 {

    margin-top: 76%;
    margin-left: 2%;
    margin-right: 2%;

    word-break: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}



.local img_4 {
    background-image: url(sc_1.png);
    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 5%;
    margin-left: 7%;

    display: block;
    height: 37%;
    width: 37%;
    position: absolute;
}