*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;
    overflow-y: hidden;

    position: fixed;
    user-select: none;
    animation: fade 1s ease-in;

    width: 100%;
    height: 100%;
}

.bg_video {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain;

    margin-top: 1.2%;
    margin-left: 22.5%;
    margin-right: 20%; 

    position: absolute;
    animation: up 5s ease-out;
    opacity: 70%;
    mix-blend-mode: luminosity;

    width: 55%;
    height: 100%;
}

.btn_play {
    background-image: url(play.png);
    background-repeat: no-repeat;
    background-size: contain;

    bottom: 7%;
    left: 38%;
    right: 50%;

    position: fixed;
    opacity: 70%;
    mix-blend-mode: luminosity;

    width: 20em;
    height: 6em;
}

.btn_play:hover {
    animation: hover 0.050s linear;
    transform: scale(1.1);
    cursor: pointer;
}

.btn_play:active {
    animation: active 0.050s linear;
    transform: scale(0.9);
    cursor: pointer;
}

.bg_form {
    width: 100%;
    height: 100%;

    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.55);
    animation: fade 1s ease-in forwards;
}

.form_lyt-1, .form_lyt-2, .form_lyt-3 {
    display: block;
    position: fixed;
    border: 3px rgb(255, 255, 255) solid ;
    background-color: rgba(255, 255, 255, 0.50);
}

.form_lyt-1 {
    width: 18rem;
    height: 18vmax;

    left: 2.5%;
    top: 5%;
}

.form_lyt-2 {
    width: 18rem;
    height: 43vmax;

    right: 2.5%;
    top: 5%;
}

.form_lyt-3 {
    width: 18rem;
    height: 21vmax;

    left: 2.5%;
    bottom: 5%;
}

.txt_1 {
    color: rgb(0, 0, 100);

    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

    word-break: normal;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form_lyt-2:hover {
    cursor: pointer;
}

.form_lyt-3:hover {
    cursor: pointer;
}

.img_1 {
    height: 100%;
    width: 100%;

    margin-top: 23%;

    background-image: url(sc_3.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.img_2 {
    height: 100%;
    width: 100%;

    margin-left: 8%;

    background-image: url(sc_1.png);
    background-repeat: no-repeat;
    background-size: contain;
}