@keyframes up {
    0% {transform: translateY(-5%);}
    100% {transform: translateY(0)}
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes blur {
    from {
        filter: blur(0);
    } to {
        filter: blur(4px);
    }
}

@keyframes unhidden {
    0% {
        width: 2%;
        height: 2%;
    }
    50% {
        width: 90%;
        height: 2%;
    }
    100% {
        width: 90%;
        height: 90%;
    }
}

@keyframes hover {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.1);
    }
}

@keyframes active {
    from {
        transform: scale(1.1);
    } to {
        transform: scale(0.9);
    }
}